[submodule "vkh"]
	path = subprojects/vkh
	url = ../vkhelpers
[submodule "external/glutess"]
	path = subprojects/glutess
	url = ../glutess
[submodule "external/vkvg-svg"]
	path = subprojects/vkvg-svg
	url = ../vkvg-svg
