[submodule "vkh"]
	path = vkh
	url = ../vkhelpers
[submodule "external/glutess"]
	path = external/glutess
	url = ../glutess
[submodule "external/vkvg-svg"]
	path = external/vkvg-svg
	url = ../vkvg-svg
