language: cpp
dist: bionic 

os:
    - linux

compiler:
    - g++

install:
    - wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
    - sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-bionic.list https://packages.lunarg.com/vulkan/lunarg-vulkan-bionic.list 
    - sudo apt -qq update
    - sudo apt install vulkan-sdk libharfbuzz-dev libfreetype6-dev libfontconfig1-dev
    - sudo apt install libglfw3-dev

script:
    - mkdir build
    - cd build
    - cmake ..
    - make
