version: 0.1.{build}

image:
  - Visual Studio 2019
  - Ubuntu

for:
  -
    matrix:
      only:
        - image: Visual Studio 2019
    environment:
        VCPKG_DEFAULT_TRIPLET: x64-windows
        VULKAN_SDK: C:/VulkanSDK/1.2.198.1
        APPVEYOR_SAVE_CACHE_ON_ERROR: true
        APPVEYOR_CACHE_SKIP_RESTORE: true
    cache:
        - VulkanSDK.exe
        - c:\tools\vcpkg\installed\
        - c:\VulkanSDK\
    install:
        - if not exist VulkanSDK.exe curl -L --show-error --output VulkanSDK.exe https://sdk.lunarg.com/sdk/download/1.2.198.1/windows/VulkanSDK-1.2.198.1-Installer.exe?Human=true && VulkanSDK.exe 
        - vcpkg install freetype harfbuzz fontconfig glfw3 --recurse
    before_build:
        - git submodule update --init --recursive
        - mkdir build
        - cd build
        - cmake -G "Visual Studio 14 Win64" -DCMAKE_BUILD_TYPE=Release -DVKVG_LCD_FONT_FILTER=off -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake ..
    build_script:
        - msbuild vkvg.sln /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
    after_build:
        - cd ..
        - 7z a vkvg.zip build
    artifacts:
        - path: 'vkvg.zip'
          name: vkvg
          type: zip

  -
    matrix:
      only:
        - image: Ubuntu
    install:
        - wget -qO - http://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
        - sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-bionic.list https://packages.lunarg.com/vulkan/lunarg-vulkan-bionic.list
        - sudo apt -qq update
        - sudo apt -y install vulkan-sdk libharfbuzz-dev libglfw3-dev
    before_build:
        - git submodule update --init --recursive
        - mkdir build
        - cd build
        - cmake ..
    build_script:
        - make
        - cpack
    after_build:
        - cd ..
        - appveyor PushArtifact build/vkvg_0.2.0.deb





